@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply relative z-20 bg-gray-800 p-5 md:p-10 h-screen w-screen overscroll-none;
}

.main::-webkit-scrollbar {
  display: none;
}

.main {
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply shadow-xl overscroll-auto rounded-3xl border-none relative w-full h-full bg-[conic-gradient(at_bottom_left,_var(--tw-gradient-stops))] from-fuchsia-300 via-green-400 to-rose-700 overflow-y-auto;
}

.grid_svg {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  height: fit-content;
  width: 100%;
  background: url("/images/grid.svg");
  background-repeat: repeat;
  background-position: center;
  z-index: 1;
  @apply rounded-3xl;
}

.menu_item {
  @apply p-3 ease-in-out hover:scale-110 border-2 border-transparent duration-500 px-16 text-center hover:bg-white hover:shadow-xl hover:text-black rounded-2xl;
}

.menu_item_active {
  @apply border-white shadow-xl;
}

.logo {
  @apply flex justify-center items-center font-medium mb-10 text-white hover:text-blue-500 hover:scale-110 ease-in-out duration-500;
}

.sidebar_arrow {
  @apply absolute z-30 cursor-pointer text-gray-700 right-[-2rem] my-auto text-2xl mb-10 mr-2 hover:scale-125 hover:text-white ease-in-out duration-500;
}

.button_main {
  @apply px-5 py-2 bg-blue-500 text-white border-2 border-transparent font-medium rounded-3xl ease-in-out duration-500 hover:scale-110;
}

.button_main:hover {
  --tw-shadow: 0 0 25px -5px rgb(0 0 0 / 0.1), 0 0 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 0 25px -5px var(--tw-shadow-color),
    0 0 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  @apply shadow-blue-500;
}

.container_main {
  @apply bg-gray-800 p-6 rounded-3xl shadow-xl;
}

.input_box {
  @apply rounded-3xl text-gray-700 px-4 py-2 focus:ring-0 outline-none w-full hover:scale-[105%] ease-in-out duration-500;
}
